.ribbon {
    font-size: 16px !important;
    /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
   
    width: 88%;
       
    position: relative;
    /* background: rgb(255,230,64); */
    color: #fff;
    text-align: center;
    padding: 1em 2em; /* Adjust to suit */
    margin: -1em auto 1em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
   }
   .ribbon:before, .ribbon:after {
    content: "";
    position: absolute;
    display: block;
    top: -1em;
    border: 1.5em solid rgb(255,230,64);
    z-index: -1;
   }
   .ribbon:before {
    top: 0em;
    left: 0em;
    border-right-width: 1.5em;
    border-left-color: transparent;
   }
   .ribbon:after {
    top: 0em;
    right: 0em;
    border-left-width: 1.5em;
    border-right-color: transparent;
   }
   .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #ffc107 transparent transparent transparent;
    top: -1em;
   }
   .ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
    transform: rotate(90deg);
   }
   .ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
    transform: rotate(270deg);
   }

   .myNav {
       background-color: rgb(255,230,64);
   }